*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    min-height: 100vh;
    overflow: hidden;
    background-color: aqua;
}
form{
    padding: 50px 35%;
}
